<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Khóa Học</title>
</head>
<body>
    <div class="content-wrapper" layout:fragment="content">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <h3>Quản Lý khóa Học</h3>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <section class="col-md-5" >
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thêm Khóa Học</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form th:action="@{/khoa/add}" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="namekh">Tên Khóa Học</label>
                                    <input type="text" class="form-control" name="name" id="nameKh" placeholder="tên khóa (VD : k11)">
                                </div>
                                <div class="form-group">
                                    <label for="namNhapHoc">Năm Nhập Học</label>
                                    <input type="date" class="form-control" name="date"  id="namNhapHoc" placeholder="năm nhập học">
                                </div>
                                <div class="form-group">
                                    <label for="hoc">Học Năm</label>
                                    <select class="form-control" name="hoc" id="hoc">
                                        <option disabled selected>
                                            Chọn Năm Học
                                        </option>
                                        <option value="1">
                                            Năm 1
                                        </option>
                                        <option value="2">
                                            Năm 2
                                        </option>
                                        <option value="3">
                                            Năm 3
                                        </option>
                                        <option value="4">
                                            Đẫ Ra Trường
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <script>
                                var today = new Date();
                                var dd = today.getDate();
                                var mm = today.getMonth() + 1; //January is 0!
                                var yyyy = today.getFullYear();

                                if (dd < 10) {
                                   dd = '0' + dd;
                                }

                                if (mm < 10) {
                                   mm = '0' + mm;
                                }

                                today = yyyy + '-' + mm + '-' + dd;
                                document.getElementById("namNhapHoc").setAttribute("max", today);
                                document.getElementById("namNhapHoce").setAttribute("max", today);
                            </script>
                            <script>
                                $("#namNhapHoc").change(function(e){
                                    var date = new Date(document.getElementById("namNhapHoc").value).getFullYear();
                                    var hoc = new Date().getFullYear() - date;

                                    if(hoc == 0){
                                        $("#hoc").val("1").attr('selected','selected');
                                    }else if(hoc <= 3){
                                        $("#hoc").val(hoc).attr('selected','selected');
                                    }else {
                                        $("#hoc").val("4").attr('selected','selected');
                                    }
                                });
                            </script>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
                    </div>
                </section>

                <section class=" col-md-7">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Danh sách Khóa học</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Stt</th>
                                                <th>Tên Khóa</th>
                                                <th>Năm Nhập Học</th>
                                                <th>Đang Học Năm</th>
                                                <th style="color: #FFD700;text-align: center;">Sửa</th>
                                                <th style="color: #FF0000;text-align: center;">Xóa</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="rs , item : ${rs}">
                                                <th th:text = "${item.index+1}"></th>
                                                <th th:text = "${rs.tenKhoa}"></th>
                                                <th th:text = "${rs.namNhapHoc}"></th>
                                                <th th:text = "${rs.hoc <= 3?'năm '+rs.hoc:'đã ra trường'}"></th>
                                                <th style="text-align: center;"><a th:data-url="@{/khoa/edit/{id}(id=${rs.idKhoa})}" data-toggle="modal" data-target="#modal-sm" class="edit"><i class="fas fa-edit" style="color: #FFD700"></i></a></th>
                                                <th style="text-align: center;"><a th:data-url="@{/}"><i class="fas fa-user-times" style="color: #FF0000"></i></a></th>

                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Stt</th>
                                                <th>Tên Khóa</th>
                                                <th>Năm Nhập Học</th>
                                                <th>Đang Học Năm</th>
                                                <th style="color: #FFD700;text-align: center;">Sửa</th>
                                                <th style="color: #FF0000;text-align: center;">Xóa</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <script>
            $(".edit").click(function(e){
                e.preventDefault();
                var url = "http://localhost:8080" + $(this).attr('data-url');

                <!-- alert(url);-->

                $.ajax({
                    type:"GET",
                    url: url,
                    success: function(data){
                        console.log(data);
                        $("#nameKhoae").val(data.tenKhoa);
                        $("#namNhapHoce").val(data.namNhapHoc);
                        $("#hoce").val(data.hoc).attr('selected','selected');
                        $("#formE").attr('action', url);
                    }
                });
            });
        </script>
    </div>

    <span layout:fragment="modal">
        <div class="modal fade" id="modal-sm">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Sửa Khóa Học</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formE" th:method="PUT">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}" />
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="nameKhoae">Tên khóa</label>
                                    <input type="text" class="form-control" id="nameKhoae" name="name" placeholder="tên khoa (VD : k11)">
                                </div>
                                <div class="form-group">
                                    <label for="namNhapHoce">Năm Nhập Học</label>
                                    <input type="date" class="form-control" name="date"  id="namNhapHoce" placeholder="năm nhập học">
                                </div>
                                <div class="form-group">
                                    <label for="hoce">Học Năm</label>
                                    <select class="form-control" name="hoc" id="hoce">
                                        <option disabled selected>
                                            Chọn Năm Học
                                        </option>
                                        <option value="1">
                                            Năm 1
                                        </option>
                                        <option value="2">
                                            Năm 2
                                        </option>
                                        <option value="3">
                                            Năm 3
                                        </option>
                                        <option value="4">
                                            Đẫ Ra Trường
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="save">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <script>
            $("#namNhapHoce").change(function(e){
                var date = new Date(document.getElementById("namNhapHoce").value).getFullYear();
                var hoc = new Date().getFullYear() - date;

                if(hoc == 0){
                    $("#hoce").val("1").attr('selected','selected');
                }else if(hoc <= 3){
                    $("#hoce").val(hoc).attr('selected','selected');
                }else {
                    $("#hoce").val("4").attr('selected','selected');
                }
            });
        </script>
<!--        <script>-->
<!--            $("#save").click(function(e){-->
<!--                var Toast = Swal.mixin({-->
<!--                    toast: true,-->
<!--                    position: 'top-end',-->
<!--                    showConfirmButton: false,-->
<!--                    timer: 3000-->
<!--                });-->
<!--                e.preventDefault();-->

<!--                var url = $(formE).attr('data-url');-->
<!--                var name = $("#nameKhoae").val();-->

<!--                var token = $("input[name='_token']" ).val();-->
<!--&lt;!&ndash;                alert(url);&ndash;&gt;-->
<!--                if (name == "") {-->
<!--                    alert("điền đầy đủ thông tin");-->
<!--                }else{-->
<!--                    $.ajax({-->
<!--                        type:"PUT",-->
<!--                        url: url,-->
<!--                        data: {-->
<!--                            _token:token,-->
<!--                            name:name-->
<!--                        },-->
<!--                        success: function(data){-->
<!--                            Toast.fire({-->
<!--                              icon: 'success',-->
<!--                              title: 'Thành Công'-->
<!--                            })-->

<!--                            $('#formE').modal('hide');-->

<!--                            setTimeout(function(){-->
<!--                                window.location.href= "http://localhost:8080/khoa/index";-->
<!--                            },800)-->
<!--                        }-->
<!--                    });-->
<!--                }-->
<!--            });-->
<!--        </script>-->
    </span>

</body>
</html>