<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Môn Học</title>
</head>
<body>
    <div class="content-wrapper" layout:fragment="content">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <h3>Quản Lý Môn Học</h3>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <section class="col-md-5" >
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thêm Môn Học</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form th:action="@{/mh/add}" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="nameMh">Tên Môn Học</label>
                                    <input type="text" class="form-control" name="name" id="nameMh" required placeholder="tên môn">
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
                    </div>
                </section>

                <section class=" col-md-7">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Danh sách môn học</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Stt</th>
                                                <th>Tên Môn</th>
                                                <th style="color: #FFD700;text-align: center;">Sửa</th>
                                                <th style="color: #FF0000;text-align: center;">Xóa</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="rs , item : ${rs}">
                                                <th th:text = "${item.index+1}"></th>
                                                <th th:text = "${rs.tenMon}"></th>
                                                <th style="text-align: center;"><a th:data-url="@{/mon-hoc/edit/{id}(id=${rs.maMon})}" data-toggle="modal" data-target="#modal-sm" class="edit"><i class="fas fa-edit" style="color: #FFD700"></i></a></th>
                                                <th style="text-align: center;"><a th:data-url="@{/mon-hoc/destroy/{id}(id=${rs.maMon})}" id="delete"><i class="fas fa-user-times" style="color: #FF0000"></i></a></th>

                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Stt</th>
                                                <th>Tên Môn</th>
                                                <th style="color: #FFD700;text-align: center;">Sửa</th>
                                                <th style="color: #FF0000;text-align: center;">Xóa</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                        <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <script type="text/javascript">
            $(".edit").click(function(e){
                e.preventDefault();
                var url = "http://localhost:8080" + $(this).attr('data-url');

                <!-- alert(url);-->

                $.ajax({
                    type:"GET",
                    url: url,
                    success: function(data){
                        console.log(data);
                        $("#nameMhe").val(data.tenMon);
                        $("#formE").attr('action', url);
                    }
                });
            });
        </script>
<!--        <script>-->
<!--            $(".edit").click(function(e){-->
<!--                e.preventDefault();-->
<!--                var url = "http://localhost:8080" + $(this).attr('data-url');-->

<!--                &lt;!&ndash; alert(url);&ndash;&gt;-->

<!--                $.ajax({-->
<!--                    type:"GET",-->
<!--                    url: url,-->
<!--                    success: function(data){-->
<!--                        console.log(data);-->
<!--                        $("#nameMhe").val(data.tenMon);-->
<!--                        $("#formE").attr('data-url', url);-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        </script>-->
    </div>
    <span layout:fragment="modal">
        <div class="modal fade" id="modal-sm">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Sửa Môn Học</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formE" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="nameMhe">Tên Môn Học</label>
                                    <input type="text" class="form-control" id="nameMhe" name="name" required placeholder="tên môn (VD : lập trình)">
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="save">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
<!--        <script>-->
<!--            $("#save").click(function(e){-->
<!--                var Toast = Swal.mixin({-->
<!--                    toast: true,-->
<!--                    position: 'top-end',-->
<!--                    showConfirmButton: false,-->
<!--                    timer: 3000-->
<!--                });-->
<!--                e.preventDefault();-->

<!--                var url = $(formE).attr('data-url');-->
<!--                var name = $("#nameMhe").val();-->
<!--                var token = $("input[name='_token']" ).val();-->
<!--                alert(token);-->
<!--                if (name == "") {-->
<!--                    alert("điền đầy đủ thông tin");-->
<!--                }else{-->
<!--                    $.ajax({-->
<!--                        type:"PUT",-->
<!--                        url: url,-->
<!--                        data: {-->
<!--                            _token:token-->
<!--                            name:name-->
<!--                        },-->
<!--                        success: function(data){-->
<!--                            Toast.fire({-->
<!--                              icon: 'success',-->
<!--                              title: 'Thành Công'-->
<!--                            })-->

<!--                            $('#formE').modal('hide');-->

<!--                            setTimeout(function(){-->
<!--                                window.location.href= "http://localhost:8080/mon-hoc/index";-->
<!--                            },800)-->
<!--                        }-->
<!--                    });-->
<!--                }-->
<!--            });-->
<!--        </script>-->
    </span>


</body>
</html>