<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>lớp</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content" >
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Lớp :
                        <p th:text="${rs.getTen_lop()}"></p>
                        <p th:text="${rs.getTen_mon()}"></p>
                    </h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Danh sách học sinh</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Họ Tên</th>
                        <th>Ngày Sinh</th>
                        <th>Giới Tính</th>
                        <th style="color: #00BFFF;text-align: center;" ></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hs , item : ${hs}">
                        <th th:text = "${item.index+1}"></th>
                        <th th:text = "${hs.getHo_ten_hs()}"></th>
                        <th th:text = "${hs.getNgay_sinh()}"></th>
                        <th th:text = "${hs.getGioi_tinh()==1?'Nam':'Nữ'}"></th>
                        <th style="text-align: center;" th:if="!${hs.getTrang_thai()}" >
                            <a th:data-url="@{teacher/diem/add/{id}(id = ${(hs.getMa_diem()==null||hs.getMa_diem()==0)?'0':hs.getMa_diem()})}" th:data-st="${hs.getMa_hs()}" class="btn btn-block btn-outline-warning btn-sm add" data-toggle="modal" data-target="#addDiem">
                                <i class="fa-solid fa-calendar-lines-pen"></i>
                                nhập điểm
                            </a>
                        </th>
                        <th style="text-align: center;" th:if="${hs.getTrang_thai()}" >
                            <a th:data-url="@{teacher/diem/view/{id}(id = ${hs.getMa_diem()==null?'0':hs.getMa_diem()})}" class="btn btn-block btn-outline-primary btn-sm view" data-toggle="modal" data-target="#viewDiem">
                                <i class="fa-solid fa-pen-to-square"></i>
                                xem điểm
                            </a>
                        </th>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Stt</th>
                        <th>Họ Tên</th>
                        <th>Ngày Sinh</th>
                        <th>Giới Tính</th>
                        <th style="color: #00BFFF;text-align: center;" ></th>

                    </tr>
                    </tfoot>
                </table>
            </div>

            <script>
                $(".add").click(function(e){
                    e.preventDefault();
                    var url = "http://localhost:8080/" + $(this).attr('data-url');
                    var hs = $(this).attr('data-st');
<!--                    alert($(this).attr('data-st'));-->

                    $.ajax({
                        type:"GET",
                        url: url,
                        success: function(data){
                            console.log(data);
                            var link;

                            if(data.length == 0){
                                $("#addDlt2").hide();
                                $("#addDth2").hide();

                                $( "#dlt1" ).prop("disabled", false);
                                $( "#dlt1" ).attr("name", "dlt");
                                $( "#dlt1" ).val("");
                                $( "#dth1" ).prop("disabled", false);
                                $( "#dth1" ).attr("name", "dth");
                                $( "#dth1" ).val("");
                                $("#idHs").val(hs);

                                link = "http://localhost:8080/teacher/diem/add-by-class";
                            } else{
                                $("#dlt1").val(data.diem_ly_thuyet);
                                $("#dth1").val(data.diem_thuc_hanh);
                                $("#dlt2").val(data.diem_ly_thuyet1);
                                $("#dth2").val(data.diem_thuc_hanh1);
                                $("#idHs").val(hs);

                                link = "http://localhost:8080/teacher/diem/edit-by-class/"+ data.ma_diem;

                                var dlt = $("#dlt1").val();
                                $( "#dlt1" ).attr("name", "dlt");
                                var dth = $("#dth1").val();
                                $( "#dth1" ).attr("name", "dth");
                                $("#addDlt2").hide();
                                $("#addDth2").hide();
                                if(dlt){
                                    $( "#dlt1" ).prop("disabled", true);
                                    $( "#dlt1" ).attr("name", "");
                                    $( "#dth1" ).prop("disabled", false);
                                    $( "#dlt2" ).attr("name", "dlt");
                                    $("#addDlt2").show();
                                }
                                if(dth){
                                    $( "#dth1" ).prop("disabled", true);
                                    $( "#dth1" ).attr("name", "");
                                    $( "#dlt1" ).prop("disabled", false);
                                    $( "#dth2" ).attr("name", "dth");
                                    $("#addDth2").show();
                                }
                            }
                            $("#add").attr('action', link);
                        }
                    });
                });

                $(".view").click(function(e){
                    e.preventDefault();
                    var url = "http://localhost:8080/" + $(this).attr('data-url');
<!--                    alert(url);-->

                    $.ajax({
                        type:"GET",
                        url: url,
                        success: function(data){
                            console.log(data);
                            $("#vDlt1").val(data.diemLyThuyet);
                            $("#vDth1").val(data.diemThucHanh);
                            $("#vDlt2").val(data.diemLyThuyet1);
                            $("#vDth2").val(data.diemThucHanh1);
                            $("#vDtb").val(data.diemTb);
                            var kp = data.ketQua;
                            if(kp == 1){
                                $("#vKp").val("qua môn");
                            } else if (kp){
                                $("#vKp").val("học lại");
                            }else {
                                $("#vKp").val("học lại");
                            }

                        }
                    });
                });
            </script>

            <div class="modal fade" id="addDiem">
                <div class="modal-dialog modal-lg">
                    <form id="add" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Nhập Điểm</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card card-warning">
                                    <div class="card-body">
                                        <input type="hidden" id="lop" name="lop" th:value="${rs.getMa_lop()}">
                                        <input type="hidden" name="mon" th:value="${rs.getMa_mon()}">
                                        <input type="hidden" id="idHs" name="idHs">
                                        <div class="row">
                                            <div class="col-sm-6" id="addDlt1">
                                                <div class="form-group">
                                                    <label>Điểm lý thuyết (lần 1)</label>
                                                    <input type="text" class="form-control" min="0" max="10" id="dlt1" placeholder="Nhập Điểm">
                                                </div>
                                            </div>
                                            <div class="col-sm-6" id="addDth1">
                                                <div class="form-group">
                                                    <label>Điểm thực hành (lần 1)</label>
                                                    <input type="text" class="form-control" min="0" max="10" id="dth1" placeholder="Nhập Điểm">
                                                </div>
                                            </div>
                                            <div class="col-sm-6" id="addDlt2">
                                                <div class="form-group">
                                                    <label>Điểm lý thuyết (lần 2)</label>
                                                    <input type="text" class="form-control" min="0" max="10" id="dlt2" placeholder="Nhập Điểm">
                                                </div>
                                            </div>
                                            <div class="col-sm-6" id="addDth2">
                                                <div class="form-group">
                                                    <label>Điểm thực hành (lần 2)</label>
                                                    <input type="text" class="form-control" min="0" max="10" id="dth2" placeholder="Nhập Điểm">
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="trangThai" value="1">
                                                    <label class="form-check-label">Đã Hoàn Thành</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="0" name="trangThai" checked>
                                                    <label class="form-check-label">chưa Hoàn Thành</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" >Save changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /.modal-content -->
                </div>
            </div>

            <div class="modal fade" id="viewDiem">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Xem Điểm</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card card-warning">
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-6" id="viewDlt1">
                                                <div class="form-group">
                                                    <label>Điểm lý thuyết (lần 1)</label>
                                                    <input type="text" id="vDlt1" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" id="viewDth1">
                                                <div class="form-group">
                                                    <label>Điểm thực hành (lần 1)</label>
                                                    <input type="text" id="vDth1" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" id="viewDlt2">
                                                <div class="form-group">
                                                    <label>Điểm lý thuyết (lần 2)</label>
                                                    <input type="text" id="vDlt2" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" id="viewDth2">
                                                <div class="form-group">
                                                    <label>Điểm thực hành (lần 2)</label>
                                                    <input type="text" id="vDth2" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <center>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Kết quả</label>
                                                        <input type="text" id="vKp" class="form-control" disabled>
                                                    </div>
                                                </div>
                                            </center>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
</div>
</body>
</html>