<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Lớp Học Theo Giáo Viên</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content" >
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Quản Lý Công Việc Của Giáo Viên</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <!-- ./col -->
                <div class="col-lg-3 col-6" th:each="rs, item : ${rs}">
                    <!-- small box -->
                    <div class="small-box bg-info" >
                        <div class="inner">
                            <h3 th:utext="${rs.getTen_lop()}+${rs.getTen_khoa()}"></h3>
                            <p th:text="${rs.getTen_mon()}"></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <form th:action="@{/teacher/class/detail/{id}(id=${rs.getMa_lop()})}" class="small-box-footer">
                            <input type="hidden" name="mon" th:value="${rs.getMa_mon()}">
                            <button class="small-box-footer">
                                Chi Tiết <i class="fas fa-arrow-circle-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>